body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.accept {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
 }

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.title-first {
    font-weight: 700;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.title-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.text-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-nav .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.text-nav .link:hover, 
.text-nav .link:focus {
    color: #404bbf;
}

.text-address {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

.text-address .link {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-address .link:hover,
.text-address .link:focus {
    color: #404bbf;
}

.zone {
    background-color: #2e2f42;
}

.zone button {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-left: 550px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}

.zone .link:hover,
.zone .link:focus {
    background-color: #404bbf;
}

.title-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title-paragraf {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.weare {
    background-color: #f4f4fd;
}

.title-weare {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-weare {
    background-color: #ffffff;
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.footer-style {
    background-color: #2e2f42;
}

.title-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.container-header {
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    display: block;
}

.container {
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.content {
    border-bottom: 1px solid #e7e9fc;
}

.container-nav {
    display: flex;
    align-items: center;
}

.container-content {
    display: flex;
}

.box-logo {
    margin-right: 76px;
}

.container-list {
    display: flex;
    gap: 40px;
}

.container-link {
    padding: 24px 0;
}

.container-address {
    display: flex;
    gap: 40px;
}

.container-zone {
    padding: 188px 0;
}

.container-title-first {
    max-width: 496px;
    width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

.container-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}

.container-title {
    padding: 120px 0;
}

.container-paragraf {
    display: flex;
    gap: 24px;  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
    overflow: hidden;
}

.list-container {
    width: calc((100% - 72px) / 4);
}

.box-title {
    margin-bottom: 8px;
}

.contaiiner-weare {
    padding: 120px 0;
}

.container-title-weare {
    margin-bottom: 72px;
}

.box-list-weare {
    display: flex;
    gap: 24px;
}

.box-weare {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;  
}

.box-paragraf {
    padding: 32px 0;
}

.box-name {
    text-align: center;
    margin-bottom: 8px;
}

.box-profesion {
    text-align: center;
}

.container-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.box-title-portfolio {
    margin-bottom: 72px;
}

.box-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.box-list-portfolio {
    width: calc((100% - 48px) / 3);
}

.box-about {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.container-footer {
    padding: 100px 0;
}

.box-logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.box-title-footer {
    max-width: 264px;
}